<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Type List</h2>
  </div>
  <a class="btn btn-dark" routerLinkActive="active" style="border-radius: 30px; margin-left: 0%; padding-left: 5%;padding-right: 5%"
     routerLink="/add-type" >Add Type</a>

  <div class="row mt-3">
    <div class="col-md-3 mb-3" *ngFor="let mat of Types ; let i = index">
      <div class="card">
        <div class="card-body text-center fs-4 fst-italic">
          <h2 class="card-header">{{mat.name}}</h2>
          <h4 class="card-text">{{mat.taux}}</h4>
          <div class="text-center">
            <div class="row ">
              <div class="col ">
                <ng-container matColumnDef= "edit ">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell >
                    <button mat-icon-button routerLink="/edit-type/{{mat._id}} ">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
              </div>
              <div class="col" style="margin-left: 100px">
                <ng-container matColumnDef= "delete ">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell >
                    <button mat-icon-button (click)="delete(mat._id, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
