<nav class="navbar navbar-expand navbar-dark bg-dark px-3 ">
  <nav class=" navbar-nav" style="font-size: larger">
  <a class="nav-item nav-link" style="padding-right: 250px" routerLinkActive="active"  routerLink="DashBoard" >DashBoard</a>
  <a class="nav-item nav-link" routerLinkActive="active"  routerLink="profs-list">Professeures</a>
  <a class="nav-item nav-link" routerLinkActive="active"  routerLink="matieres-list">Matieres</a>
  <a class="nav-item nav-link" routerLinkActive="active"  routerLink="cours-list">Cours</a>
  <a class="nav-item nav-link" routerLinkActive="active"  routerLink="cours-periode">Cours Periode</a>
<!--          style="cursor: pointer" (click)="LogOut()">-->
<!--    <mat-icon style="color: #ABC" >logout</mat-icon>-->
<!--  </a>-->

</nav>



<!--*ngIf="localDbService.userRole === 'USER'"-->
</nav>
