<mat-toolbar class="mat-elevation-z1">
  <span>
    <mat-icon>castforeducationicon</mat-icon>
     Vote</span
  >
  <div class="spacer"></div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="register" *ngIf="localDbService.userRole === 'USER' || 'ADMIN'">Register Etudient</a>
  <a mat-button  routerLink="info" *ngIf="localDbService.userRole === 'ADMIN'">Plus d`information</a>
  <a mat-button routerLink="login" class="outline" >Login</a>
  <a mat-button routerLink="signup" >Signup</a>
  <a mat-button routerLink="candidats" >Synds</a>
  <a mat-button routerLink="login" (click)="LogOut()">logout</a>
<!--  <a mat-fab disabled aria-label="Example icon button with a heart icon"-->
<!--          style="cursor: pointer" (click)="LogOut()">-->
<!--    <mat-icon style="color: #ABC" >logout</mat-icon>-->
<!--  </a>-->

</mat-toolbar>

<!--*ngIf="localDbService.userRole === 'USER'"-->
